/* Apply styles to all elements */
* {
  text-align: center;
  font-size: large !important;
}

/* Apply styles to hyperlinks */
a {
  font-weight: bolder;
  font-size: xx-large !important;
}

/* Apply styles to heading elements (h2) */
h2 {
  font-size: xx-large !important;
  font-weight: bolder !important;
  color: cadetblue !important;
}

h3 {
  font-size: larger !important;
  font-weight: bolder !important;
  color: cadetblue !important;
}

/* Apply styles to buttons */
button {
  background-color: cadetblue !important;
  color: aliceblue !important;
  border: 2px solid cornflowerblue !important;
  margin: 7px !important;
  border-radius: 15px !important;
  font-size: large !important;
  font-weight: bold !important;
}

/* Apply styles to buttons on hover */
button:hover {
  font-weight: bolder !important;
  background-color: aliceblue !important;
  color: cadetblue !important;
}
